# Unreal Engine
*.ini
!Config/
!Config/*.ini
*.log
/Build/
/Binaries/
/Saved/
/Intermediate/
/DerivedDataCache/
/.vscode/
.vs/
*.suo
*.sdf
*.sln
*.csproj
*.user

# /Content теперь версионируется через Git LFS (ADR-019), из ignore убрано.